*{
	box-sizing:border-box;
}
body{
	height: 100%;
	background-image:url('../img/dating.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
nav{
	margin:0 auto;
}
section{
	
	padding: 25px;
	width: 90%;
	background-color: #add8e6;
	text-align: center;
	height: 100%;
	border-radius: 8px;
	opacity: 0.80;
}
section,h1{
	margin: 0 auto;
} 
img {
	
	max-width:100px;
	max-height: 100px ;
	float: left;
	border-radius: 20px 100px;
}
 .couple,.plage{
	max-width:300px;
	max-height: 300px ;
}

h1{	
	padding: 7px;
	color: orange;
	background-color: #FFE;
	width: 20%;
	border:1px solid grey ;
	border-radius: 6px;
}
h1,li{
	font-weight: bold;
}
h2{
	margin-top: 150px;
	color: #FFE ;
}
ul{
	max-width:60%;
	max-height: 90%;
	background-color: orange;
	border: 1px solid red;
	display: flex;
	justify-content:space-between;
	list-style-type: none;
	text-decoration: none;
	
}
li{
	color: white;
	margin: 0 auto;
	text-decoration: none;
	list-style: none;
	padding: 5px;
}
form{
	
	margin: 15px auto;
	padding: 18px;
	width: 90%;
	background-color: orange;
	border-radius: 10px;
}

.container{
	display: flex;
}
label{
	margin-top: 13px;
}
fieldset,input,select{
	margin-top: 8px;
	text-align: center;
	
}

fieldset,input,select,legend{
border-radius: 6px;
}
.userIdentification,.photocentreInterest,.situationApparence{
	margin: 0 auto;
	padding: 20px;
}
/* .userIdentification{
	float: left;
} */

/* .situationApparence{ */
/* 	float: right;
	margin-left: 75px;
} */
/* .userIdentification,.situationApparence{
	text-align: left;
} */


.response{
	float: right;
	width:250px;
	height:100px;
	margin: 42px auto;
	background-color: #FFE  ;
	color: blue;
	font-weight: bold;
}
a{
	text-decoration: none;
}

.supprimer{
	width: 300px;
}
.felicitation,.erreurDeConnection{
	font-weight: bold;
}
.felicitation{
	color: blue;
	
}
.erreurDeConnection{
	color: red;
	
}
.plage{
	margin: 30px 0px 30px 0px;;;
}
legend{
	color: #c71585;
	background-color: #ffe4b5;  
	border: 1px solid #FFE;
	padding: 4px;
}
a,footer{
	color: #FFE;
}
a,legend,footer{
	font-weight: bold;
	
}
/*##########################PSEUDO CLASS ####*/
a:hover{
	font-size: 1.2em;
	background-color: #ffe4b5;  
	color: #c71585;
	border: 2px solid #FFE;
	padding: 4px;
	
}
.response:hover{
	font-size: 1.1em;
	background-color: blue  ;
	color: orange;
}


/*#############MEDIAQUERIES############################*/

@media(max-width: 450px){
	h1{
		font-size: 0.5em;
		
		}
		