*{
	box-sizing:border-box;
}
body{
	height: 100%;
	background-image:url('../img/dating.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
section{
	
	padding: 25px;
	width: 82%;
	background-color: #add8e6;
	text-align: center;
	height: 100%;
	border-radius: 8px;
	opacity: 0.80;
}
section,h1{
	margin: 0 auto;
} 
 .moines{
	
	max-width:100px;
	max-height: 100px ;
	float: left;
	border-radius: 20px 100px;
}
img .couple{
	max-width:300px;
	max-height: 300px ;
}
h1{	
	padding: 10px;
	color: orange;
	background-color: #FFE;
	width: 20%;
	border:1px solid grey ;
	border-radius: 6px;
}
h1,li{
	font-weight: bold;
}
h2{
	margin-top: 150px;
	color: #FFE ;
}
ul{
	max-width:60%;
	max-height: 90%;
	background-color: orange;
	border: 1px solid red;
	display: flex;
}
li{
	color: white;
	margin: 0 auto;
	text-decoration: none;
	list-style: none;
	padding: 5px;
}

a{
	padding: 6px;
	text-decoration: none;
	color: bluee;
	width: 550px;
	height: 200px;
	background-color: #FFE;
	border: 1px solid orange;
}
form{
	
	margin: 20px auto;
	padding: 18px;
	width: 87%;
	background-color: orange;
	border-radius: 10px;
}

textarea{
	width: 150px;
	height: 150px;
}
input,textarea,select,option{
	margin: 2px;
}
.container{
	display: flex;
}
label{
	margin-top: 8px;
}
input{
	margin-top: 5px;
	text-align: center;
	border-radius: 6px;
}
.userIdentification,.photocentreInterest,.situationApparence{
	margin: 0 auto;
	padding: 20px;
}
/* .userIdentification{
	float: left;
} */

/* .situationApparence{ */
/* 	float: right;
	margin-left: 75px;
} */
/* .userIdentification,.situationApparence{
	text-align: left;
} */


.response{
	float: right;
	width:250px;
	height:100px;
	margin: 50px auto;
	background-color: #FFE  ;
	color: blue;
	font-weight: bold;
}
a .enregistrement{
	color: #FFE!important;
}
a{
   width: 550px;
	height: 200px;
}
.validation{
	width: 100px;
	height: 70px;
}
.validation,a{
	padding: 6px;
	text-decoration: none;
	color: bluee;
	background-color: #FFE;
	border: 1px solid orange;
}


/*##########################PSEUDO CLASS ####*/
.response:hover{
	font-size: 1.1em;
	background-color: blue  ;
	color: orange;
}
a:hover{
	font-size: 1.1em;
	background-color:orange ;
	color: blue;
	
}


/*#############MEDIAQUERIES############################*/

@media(max-width: 450px){
	h1{
		font-size: 0.5em;
		
		}
		