<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
	    <title>Dating error</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/main.css}" />
  </head>
  <body>
	<section>
	<img src="img/moines.jpg" alt="moines">
	<!--header-->
    <th:block th:replace="fragments/header :: header"></th:block>
    <!--header-->
	
	  <h1>DOMMAGE</h1>
	  <div class="erreurDeconnexion">
	   <p>L'identifiant et le mot de passe ne correspondent aucun utilisateur</p>
	</div>
		
	</section>	
  </body>
</html>