<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <th:block th:replace="fragments/head"></th:block>
</head>
  <body>
  <img src="img/moines.jpg" alt="moines">
	<!--header-->
	<th:block th:replace="fragments/header2"></th:block>
	<!--header-->
	<section>
	
	  <h1>UNFORTUNATELY</h1>
	  <div class="erreurDeconnexion">
	   <p class="erreurDeConnection"> Id and password does'nt match to any user, try again or register</p>
	</div>
		
	</section>	
	
  </body>
</html>