<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
	    <title>Dating welcome</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/main.css}" />
  </head>
  <body>
	<section>
	<img src="img/moines.jpg" alt="moines">
	<!--header-->
    <th:block th:replace="fragments/header :: header"></th:block>
    <!--header-->
	  <h1>CONGRATULATION</h1>
		<p th:if="${session.nom != null}" th:text="|Bienvenue  ${session.pseudo}"><p>
	</section>	
  </body>
</html>